{% extends 'base.html' %}

{% block body%}
{% if post.comentarios %}
<div class="container d-flex justify-content-center mt-100 mb-100">
  <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">COMENTARIOS</h4>
            <h6 class="card-subtitle">Comentarios mais recentes</h6> </div>
           <ul>
            {% for comentario in post.comentarios %}
              <div class="comment-widgets m-b-20">
                <div class="d-flex flex-row comment-row">
                  <div class="p-2"><span class="round"><img src="{{url_for('static', filename='imgs_perfil/{}'.format(comentario.autor_post.foto_perfil))}}" alt="user" width="50"></span></div>
                  <div class="comment-text w-100 dont-break-out">
                    <h5>{{comentario.autor_post.nome}}</h5>
                    <div class="comment-footer">
                      <span class="date">{{comentario.data.strftime('%d/%m/%Y')}} {{comentario.data.strftime('%H:%M:%S')}}</span>
                      <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a>
                      <a href="#" data-abc="true"><i class="fa fa-rotate-right"></i></a>
                      <a href="#" data-abc="true"><i class="fa fa-heart"></i></a>
                    </span>
                    </div>
                    <p class="m-b-5 m-t-10">{{comentario.texto}}</p>
                  </div>
                </div>
              </div>
          {% endfor %}
        </ul>
        </div>
      </div>
  </div>
</div>
{% else %}
<h1>Sem comentários </h1>
{% endif %}










{% endblock %}